doctype html
html
	head
		title Dashboard
        style(src="lib/bootstrap/dist/css/bootstrap.css")
        style(src="lib/bootstrap/dist/css/bootstrap-theme.css")
        
	body
    
        script(src="lib/jquery/dist/jquery.js")
        script(src="lib/bootstrap/dist/bootstrap.js")
        script(src="lib/dashboard.js")
        
    