doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    |     
    meta(name='author', content='')
    |     
    link(rel='icon', href='/favicon.ico')
    |     
    title Dashboard Template for Bootstrap
    // Bootstrap core CSS
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    link(href='/css/ie10-viewport-bug-workaround.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/css/dashboard.css', rel='stylesheet')
  |   
  body     
    .container
      .row
        .col-xs-3
          H4 Total Memory: 
          H4#totalmem
        .col-xs-3
          H4 Free Memory: 
          H4#freemem
        .col-xs-3
          H4 Up Time: 
          H4#uptime
      .row
        .col-xs-3
          H4 Connected Clients:
          H4#viewers
        .col-xs-3
        .col-xs-4
      .row
        H4 Robot Log
        textarea#log(style="width:100%" rows=15)
      

    // Bootstrap core JavaScript
    //  ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='/js/jquery.min.js')
    |     
    script.
      window.jQuery || document.write('<script src="/js/jquery.min.js"><\\/script>')
    |     
    script(src='/js/bootstrap.min.js')
    // Just to make our placeholder images work. Don't actually copy the next line!
    script(src='/js/holder.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='/js/ie10-viewport-bug-workaround.js')
    script(src="/socket.io/socket.io.js")
    script(src='/js/dashboard.js')
